:root {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

.button {
  background-color: hsl(180, 50%, 50%);
  color: white;
  border: 0;
  padding: .4em 1em;
  font-size: 1rem;
  transition: all .5s ease-out .1s;
}
.button:hover {
  background-color: hsl(0, 50%, 50%);
  border-radius: 1em;
}

.container {
  width: 700px;
  border: 1px solid hsl(300, 50%, 50%);
}
.container > * + * {
  margin-top: 1em;
}

.box {
  width: 50px;
  height: 50px;
  background-color: hsl(120, 50%, 50%);
  position: relative;
  left: 0;
}
.container:hover .box {
  left: 650px;
}

.linear {
  transition: all 1s linear;
}
.ease-in {
  transition: all 1s ease-in;
}
.ease-out {
  transition: all 1s ease-out;
}
.ease {
  transition: all 1s ease;
}
.ease-in-out {
  transition: all 1s ease-in-out;
}
.steps {
  transition: all 1s steps(4, start); /* end is default */
}

.dropdown {
  /* equalize widths of children */
  display: inline-block;
  position: relative;
}
.dropdown__toggle {
  border: 1px solid hsl(280, 10%, 80%);
  padding: .5em 1em;
  color: hsl(280, 30%, 60%);
  background-color: white;
  transition: all .2s ease-out;
}
.dropdown__toggle:hover {
  background-color: hsl(280, 15%, 95%);
}
.dropdown__drawer {
  display: none;
  position: absolute;
  z-index: 100;
  min-width: 100%;
}
.dropdown.is-open .dropdown__drawer {
  display: block;
}
.menu {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  /* Alternatively, move all border-ing to <a>, then remove top borders w/ owl */
  border: 1px solid hsl(280, 10%, 80%);
}
.menu > li + li {
  border-top: 1px solid hsl(280, 10%, 80%);
}
.menu > li > a {
  display: block;
  padding: .5em 2em .5em 1em;
  text-decoration: none;
  color: hsl(280, 40%, 60%);
  /* make not transparent */
  background-color: white; 
  transition: all .2s ease-out;
}
.menu > li > a:hover {
  background-color: hsl(280, 15%, 95%);
  color: hsl(280, 25%, 10%)
}
