:root {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

.button {
  background-color: hsl(180, 50%, 50%);
  color: white;
  border: 0;
  padding: .4em 1em;
  font-size: 1rem;
  transition: all .5s linear .1s;
}
.button:hover {
  background-color: hsl(0, 50%, 50%);
  border-radius: 1em;
}
