:root {
  /* colors */
  --brand-green: #076448;
  --dark-green: #099268;
  --medium-green: #20c997;

  --text-color: #212529;
  --gray: #868e96;
  --light-gray: #f1f3f5;
  --extra-light-gray: #f8f9fa;
  --white: #ffffff;

  box-sizing: border-box;
  color: var(--text-color);
}
*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  line-height: 1.4;
  background-color: var(--extra-light-gray);
}

h1, h2, h3, h4 {
  font-family: Georgia, serif;
}

a {
  color: var(--medium-green);
}
a:visited {
  color: var(--brand-green);
}
a:hover {
  color: var(--brand-green);
}
a:active {
  /* TODO: will add color for this */
}

.nav-container {
  background-color: var(--medium-green);
}
.nav-container__inner {
  display: flex;
  justify-content: space-between;
  max-width: 1080px;
  margin: 0 auto;
  padding: .5em 1em;
}

.home-link {
  font-size: 1.6rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--text-color);
  font-family: Georgia, serif;
}
/* NOTE: since e.g. a:visited has higher specificity than .home-link, */
/* explicitly override base anchor styles. (just order is not enough here) */
.home-link:visited,
.home-link:hover {
  color: var(--text-color);
}

.top-nav {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
.top-nav a {
  display: inline-block;
  background-color: var(--brand-green);
  color: var(--white);
  border-radius: .2em;
  padding: .3em 1.25em;
  text-decoration: none;
}
.top-nav a:hover {
  background-color: var(--dark-green);
}
.top-nav > li + li {
  margin-left: .5em;
}

.top-nav__featured > a {
  background-color: var(--white);
  color: var(--brand-green);
}
.top-nav__featured > a:hover {
  background-color: var(--white);
  color: var(--medium-green);
}

.hero {
  background-image: url('collaboration.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 2.5rem;
}
.hero__inner {
  max-width: 1080px;
  margin: 0 auto;
  padding: 50px 1em 200px;
  text-align: right;
}
.hero__inner h2 {
  font-size: 1.95rem;
}

.button {
  /* NOTE: Remember inline-block to override inline behavior of anchors */
  display: inline-block; 
  border: 2px solid var(--brand-green);
  border-radius: .2em;
  color: var(--brand-green);
  padding: .4em 1em;
  text-decoration: none;
}
.button:hover {
  color: var(--white);
  background-color: var(--dark-green);
}
.button--cta {
  border: none;
  color: var(--white);
  background-color: var(--brand-green);
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}

.tile-row {
  display: flex;
  padding: 0 1em;
}
.tile-row > * {
  flex: 1; /* make each column equal width */
}

.tile {
  background-color: var(--white);
  border-radius: .3em;
}
.tile + .tile {
  margin-left: 1em;
}

.page-footer {
  background-color: var(--light-gray);
  color: var(--gray);
}

.page-footer__inner {
  max-width: 1080px;
  margin: 0 auto;
}
