:root {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

a:link {
  color: #1476b8;
  font-weight: bold;
  text-decoration: none;
}
a:visited {
  color: #1430b8;
}
a:hover {
  text-decoration: underline;
}
a:active {
  color: #b81414;
}

.page-header {
  padding: .4em 1em;
}

.title {
  color: #333;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: .2em 0;
}

.slogan {
  color: #888;
  font-size: .875rem;
  margin: 0;
}

.nav-menu {
  list-style-type: none;
}

.nav-menu > li > a {
  display: inline-block;
  padding: .5em 1em;
}

.hero {
  text-align: center;
  background-image: url(coffee-beans.jpg);
  /* override `auto` sizing which uses inherent dimensions (w/o rescaling).
   * Also, `background-repeat` prop's initial value is `repeat`. 
   * By making background image width to be 100% of its container, there will be
   * no repeat on x axis when container gets wider than image. */
  background-size: 100%; 
  color: white;
  padding: 2em 1em;
  text-shadow: .1em .1em .3em #000;
}

main {
  padding: 1em;
}

.subtitle {
  text-transform: uppercase;
  font-size: .875rem;
  margin-top: 1.5em;
  margin-bottom: 1em;
}
