:root {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.demo-rectangle {
  width: 300px;
  height: 150px;
  border-radius:  .2em;
  margin: 1em;
}

.fade {
  background-image: linear-gradient(to right, white, blue);
}

.fade-jive {
  background-image: linear-gradient(25deg, 
    yellow 5%, white 40%, blue 100%);

}
.three-stripes {
  background-image: linear-gradient(186deg, 
    red 33%, 
    blue 33%, blue 66%,
    orange 66%, orange 100%);
}

.barber-pole {
  background-image: repeating-linear-gradient(-45deg,
    blue 0px, blue 20px,
    white 20px, white 40px);
}

.progress-bar {
  background-image: repeating-linear-gradient(-45deg,
    #57b, #57b 18%,
    #148 18%, #148 36%
  );
}

.radial-fade {
  background-image: radial-gradient(white, blue);
}

.radial-fade-corner {
  background-image: radial-gradient(5em at 20px 30px,
    white,
    skyblue
  );
}
.radial-multicolor-fade {
  background-image: radial-gradient(circle,
    white 20%,
    lightyellow 40%,
    skyblue 60%,
    royalblue 80%,
    midnightblue
  );
}

