/* fix box sizing */
:root {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}

/* owl for margins */
body * + * {
  margin-top:  1.5em;
}

/* double container pattern for centering page */
.container {
  max-width: 1080px;
  margin: auto;
}

body {
  background-color: #709b90;
  font-family: Arial, Helvetica, sans-serif;
}

/* nav menu */
.site-nav {
  display: flex;
  background-color: #5f4b44;
  padding: .5em 1em;
  list-style-type: none;
}

nav > ul > li { /* same as .site-nav > li */
  margin-top:  0; /* override global owl's margin */
}

nav > ul > li + li {
  margin-left: 1.5em;
}

.site-nav > .nav-right {
  margin-left: auto; /* fills available space, thanks flexbox */
}

.site-nav > li > a {
  padding: .5em 1em;
  display: inline-block; /* to affect container's height */
  background-color: #cc6b5a;
  color: white;
  text-decoration: none;
}

/* sizing flex columns, tiles */
.flex {
  display: flex;
}

.tile {
  background-color: #fff;
  padding: 1.5em;
}

.flex > * + * { /* only direct children except first, i.e. column-sidebar */
  margin-top:  0;
  margin-left: 1.5em;
}
