:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

/* body * + *  { */
/* to work-around <script> inserted by `browser-sync` utility as a first child
 of <body> and qualifying body's originally only child as an 'adjacent
 sibling': */
.body-container * + *  { /* but we increased specificity */
  margin-top: 1.5em;
}

body {
  background-color: #eee;
  font-family: Helvetica, Arial, sans-serif;
}

header {
  padding: 1em 1.5em; 
  /* now margin of inner h1 elem does not collapse outside this container
   * but is contained within it, adding up to its inner (vertical) spacing. */
  color: #fff;
  background-color: #0072b0;
  border-radius: 0.5em;
}

main {
  display: block; /* fixes IE bug where main is rendered inline */
}

.container {
  display: flex;
}

.main {
  width: 70%;
  background-color: #fff;
  border-radius: .5em;
}

.sidebar {
  width: 30%;
  margin-top: 0;
  margin-left: 1.5em;
  padding: 1.5em;
  background-color: #fff;
  border-radius: .5em;
}

.button-link {
  display: block;
  padding: 0.5em;
  color: #fff;
  background-color: #0090c9;
  text-align: center;
  text-decoration: none;
}

.button-link + .button-link {
  margin-top: 1.5em;
}

.sponsor-link {
  display: block;
  color: #0072b0;
  font-weight: bold;
  text-decoration: none;
}
