/* base styles */
:root {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
}

a:link {
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}


.header-container {
  background-color: lightgreen;
  padding: 1em 0; /* prevents child h1's margin collapsing outside */
}
header {
  max-width: 80%; 
  margin: 0 auto;
}

.page-container {
  max-width: 80%; 
  margin: 0 auto;
}


/* modules */

.message {
  border: 1px solid #265559;
  padding: .8em 1.2em;
  margin: .3em 0;
  border-radius: .2em;
  color: #265559;
  background-color: #e0f0f2;
}

.message--success {
  border-color: #2f5926;
  color: #2f5926;
  background-color: #cfe8c9;
}

.message--warning {
  border-color: #594826;
  color: #594826;
  background-color: lightgoldenrodyellow;
}

.message--error {
  border-color: #59262f;
  color: #59262f;
  background-color: #e8c9cf;
}

/* utility classes */

