/* base styles */
:root {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
}

a:link {
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}


.header-container {
  background-color: lightgreen;
  padding: 1em 0; /* prevents child h1's margin collapsing outside */
}
header {
  max-width: 80%; 
  margin: 0 auto;
}

.page-container {
  max-width: 80%; 
  margin: 0 auto;
}


/* modules */

.message {
  border: 1px solid #265559;
  padding: .8em 1.2em;
  margin: .3em 0;
  border-radius: .2em;
  color: #265559;
  background-color: #e0f0f2;
}

.message--success {
  border-color: #2f5926;
  color: #2f5926;
  background-color: #cfe8c9;
}

.message--warning {
  border-color: #594826;
  color: #594826;
  background-color: lightgoldenrodyellow;
}

.message--error {
  border-color: #59262f;
  color: #59262f;
  background-color: #e8c9cf;
}


.button {
  border: 1px solid #265559;
  border-radius: .2em;
  padding: .5em .8em;
  background-color: transparent;
  font-size: 1rem;
}

.button--success {
  border-color: #cfe8c9;
  color: #fff;
  background-color: #2f5926;
}

.button--danger {
  border-color: #e8c9c9;
  color: #fff;
  background-color: #a92323;
}

.button--large {
  font-size: 1.2rem;
}
.button--small {
  font-size: .8rem;
}


.media {
  background-color: #eee;
  border-radius: .5em;
  padding: 1.5em;
  /* outer margin maybe does not belong to this module */
  margin: .2em; 
}

.media__image {
  float: left;
  margin-right: 1.5em;
  max-width: 30%;
}

.media::after {
  content: " ";
  /* clear prop needs block display to work / clearfix */
  display: block;
  clear: both;
}

.media__body {
  /* establish block formatting context to prevent interplay w/ outside floats */
  overflow: auto;
}
.media__body > h4 {
  margin-top: 0;
}
.media__body > p {
  margin-bottom: 0;
}

.media--right .media__image {
  float: right;
  margin-left: 1.5em;
  margin-right: 0;
}


.dropdown {
  display: inline-block;
}

.dropdown__toggle {
  background-color: #eee;
  border: 1px solid #ccc;   
  padding: .5em 1.5em;
  font-size: 1rem;
}
.dropdown__toggle::after {
  content: "";
  display: inline-block;

  border: .3em solid;
  border-color: black transparent transparent;
}
.dropdown.is-open .dropdown__toggle::after {
  border-color: transparent transparent black;
}

.dropdown__drawer {
  display: none;
}
.dropdown.is-open .dropdown__drawer {
  display: block;
}

/* utility classes */

