:root {
  box-sizing: border-box;
}
*,
:before,
:after {
  box-sizing: inherit;
}

body {
  font-family: Raleway, Arial, sans-serif;
  line-height: 1.4;
  margin: 0;
  color: white;
  background-color: hsl(210, 80%, 20%);
  background-image: radial-gradient(
    hsl(210, 80%, 30%), hsl(210, 80%, 20%));
  min-height: 100vh;
}

h1, h2, h3 {
  font-family: 'Alfa Slab One', serif;
}


/* Objects */

.row {
  display: flex;
  margin: 3em;
  border: 2px solid hsl(210, 10%, 90%);
}

.card {
  background-color: white;
  color: black;
  max-width: 300px;
  padding: .4em;
  margin-left: 1em;
}
.card > img {
  width: 100%;
}

.box {
  width: 50px;
  height: 50px;
  background-color: hsl(30, 80%, 40%);
  box-shadow: 0 0 .7em .2em hsla(90, 30%, 80%, .5);
  margin: 1em;
}

/* Components */

.page-header {
  margin: 0;
  padding: 1rem;
}

.main-nav {
  padding: 0 1rem;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 1rem;
}
.nav-links li + li {
  margin-left: .8em;
}
.nav-links a {
  display: block;
  padding: .8em 0;
  color: white;
  text-decoration: none;
}
.nav-links a:hover {
  color: hsl(40, 100%, 70%);
}


/* Utility classes */

.blur {
  position: relative;
  filter: blur(4px);
}
.blur::after {
  position: absolute;
  content:  "";
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(210, 80%, 20%, .2);
}

.rotate {
  transform: rotate(15deg);
}
.rotate--corner {
  transform-origin: bottom right;
}

.scale-down {
  transform: scale(.8);
}
.scale-down--corner {
  transform-origin: top right;
}

.skew {
  transform: skew(15deg);
}
.skew--left {
  transform-origin: top left;
}
.skew--left-center {
  transform-origin: left center;
}

/* order of chained transforms - from right to left */
.topple--rotate-shift {
  transform: translate(1em, 0) rotate(45deg);
}
.topple--shift-rotate {
  transform: rotate(45deg) translate(1em, 0);
}
