:root {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #709b90;
}

.portfolio {
  display: grid;
  /* place as many tracks onto the grid as it can fit, without violating the */
  /* restrictions set by the specified size (minmax()) */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* because no track can be larger than 1 fr (our maximum value), all the grid */
  /* tracks will be the same size */
  grid-auto-rows: 1fr; /* size of implicit rows - same size */
  grid-gap: 1em;
}
.portfolio > figure {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.portfolio img {
  max-width: 100%; /* contain images within a viewport */
  flex: 1; /* flex-grow to streatch img to fill the grid area */
  object-fit: cover; /* to not distort the image */
}

.portfolio figcaption {
  padding: .3em .8em;
  background-color: rgba(0, 0, 0, .5);
  color: white;
  text-align: right;
}

.portfolio .featured {
  grid-column: span 2;
  grid-row: span 2;
}
