:root {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #709b90;
}

.portfolio > figure {
  margin: 0;
}

.portfolio img {
  max-width: 100%; /* contain images within a viewport */
  vertical-align: middle;
  /* Note: Since image is an inline object and it has a line-height -
   * there is a gap between img and next block element (figcaption). 
   * vertical-align middle or bottom removes the gap. */
}

.portfolio figcaption {
  padding: .3em .8em;
  background-color: rgba(0, 0, 0, .5);
  color: white;
  text-align: right;
}

