:root {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 200vh;
  margin: 0;
}

.top-banner-outer {
  background-color: #ffd698;
  padding: 1em 0;
}

.top-banner-inner {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;

}

button {
  padding: .5em .7em;
  border: 1px solid #8d8d8d;
  background-color: #fff;
  font-size: 1em;
}

.modal {
  display: none;
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal-body {
  position: fixed;
  top: 3em;
  bottom: 3em;
  left: 20%;
  right: 20%;
  background-color: #fff;
  padding: 2em 3em;
  overflow: auto;
}

.modal-close {
  cursor: pointer;
}
