:root {
  box-sizing: border-box;
  --z-dropdown-menu: 200;
  --z-modal-backdrop: 300;
  --z-modal-body: 310;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 200vh;
  margin: 0;
}

.top-banner-outer {
  background-color: #ffd698;
  padding: 1em 0;
}

.top-banner-inner {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;

}

button {
  padding: .5em .7em;
  border: 1px solid #8d8d8d;
  background-color: #fff;
  font-size: 1em;
}

.modal {
  display: none;
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: var(--z-modal-backdrop);
}

.modal-body {
  position: fixed;
  top: 3em;
  bottom: 3em;
  left: 20%;
  right: 20%;
  background-color: #fff;
  padding: 2em 3em;
  overflow: auto;
  z-index: var(--z-modal-body);
}

.modal-close {
  position: absolute;
  top: .3em;
  right: .3em;
  padding: .3em;
  cursor: pointer;
  text-indent: 10em; /* hide text content */
  height: 1em; /* make a square */
  width: 1em; /* fix to not allow text-indent to stretch the witdth */
  overflow: hidden; /* to hide the overly indented content */
  font-size: 2em;
  border: 0;
}

.modal-close::after {
  content: "\00D7"; /* multiplication / &times symbol */
  line-height: .5; /* make line-height fit tighter around the &times symbol */
  position: absolute;
  top: 0.2em;
  left: 0.2em;
  text-indent: 0; /* override inherited text-indent */
}

.container {
  max-width: 1000px;
  margin: 1em auto;
  width: 80%;
  display: flex;
}

.col-main {
  flex: 1 80%;
}
.col-sidebar {
  flex: 20%; /* same as `1 20%` */
}

.dropdown {
  display: inline-block;
  position: relative; /* establish containing block for absolutely positioned
  child */
  z-index: var(--z-dropdown-menu);
}

.dropdown-label {
  padding: .5em 2em .5em 1em; /* right padding to make room for triangle */
  border: 1px solid #ccc;
  background-color: #eee;
}

.dropdown-label::after {
  content: "";
  border: .3em solid; /* set same width for all borders to get equilateral
  triangle */
  /* border-top-width: .5em; */
  /* if we thicken only one side of a border we get non-equilateral triangle */
  border-color: black transparent transparent;
  position: absolute;
  top: 1em;
  right: 1em;
}

.dropdown:hover .dropdown-label::after {
  border-color: transparent transparent black transparent;
  top: .7em;
}

.dropdown-menu {
  display: none;
  background-color: #eee;
  position: absolute;
  /* default for position properties (top, left, ...) is `auto` which keeps 
   * elements in their static position */
  top: 2.2em; /* puts slightly higher, closer to label than its static position 
  * from default `auto` value, showing only 1 border instead of 2 (label's
  * border + submenu border */
  min-width: 100%; /* Fix - after absolute positioning element looses reference
  for its block dimensions (its container's width to fill).
  */
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.submenu {
  list-style-type: none;
  border: 1px solid #999;
  padding: 0; 
  margin: 0;
  background-color: #eee;
}

.submenu li + li {
  border-top: 1px solid #999;
}

.submenu > li > a {
  display: block;
  padding: .5em 1.5em;
  color: #369;
  text-decoration: none;
}

.submenu > li > a:hover {
  background-color: #fff;
}
